## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
ans = 7 ** 4
print(ans)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
s = "Hi there Sam!"
print(s.split(" "))

['Hi', 'there', 'Sam!']

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [4]:
planet = "Earth"
diameter = 12742

In [5]:
print("The diameter of {} is {} kilometers.".format(planet, diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [7]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [9]:
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [10]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [11]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

A tuple is immutable whereas a list is mutable. This means that the values in a tuple cannot be modified but a list can be modified

In [13]:
#LIST 
listvar = [1,2,3,4,5]
print("List before modification : ",listvar)
listvar[2]=100
print("Modified List: ",listvar)

List before modification :  [1, 2, 3, 4, 5]
Modified List:  [1, 2, 100, 4, 5]

In [14]:
#TUPLE
tuplevar = (1,2,3,4,5)
print("Tuple before attempting modification : ",tuplevar)
tuplevar[2]=100

Tuple before attempting modification :  (1, 2, 3, 4, 5)

TypeError: ignored

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [15]:
def getDomain(email):
  domain = email.split("@")[1]
  return domain

In [16]:
print(getDomain("user@domain.com"))

domain.com

In [32]:
print(getDomain("ramanan@gmail.com"))

gmail.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [19]:
def checkDog(str):
    return 'dog' in str.lower().split()

In [21]:
print(checkDog("Do you have a pet Dog ?"))

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [23]:
def countDog(str):
    count = 0
    for a in str.lower().split():
        if a == 'dog':
            count += 1
    return count

In [24]:
countDog("I have a pet dog . The name of the dog is Scooby. Scooby Doo is a famous fictional dog character " )

3

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [26]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [27]:
caught_speeding(90, False)

'Big Ticket'

In [37]:
caught_speeding(82, True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [31]:
employee_salary = [100000, 250000, 360000, 80000, 230000]

In [33]:
total_salary=0
for salary in employee_salary:
  total_salary+=salary
print("The total salary expenditure is : ",total_salary)

The total salary expenditure is :  1020000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [34]:
dict1 = {"Empid": 1000, "Empname": "Ramanan", "Basicpay":130000}
dict2 = {"DeptName": "Information Technology", "DeptId": 4567}

In [36]:
for key in dict2.keys():
  dict1[key] = dict2[key]
print("The single dictionary after combining is : ", dict1)

The single dictionary after combining is :  {'Empid': 1000, 'Empname': 'Ramanan', 'Basicpay': 130000, 'DeptName': 'Information Technology', 'DeptId': 4567}