## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [2]:
print(7**4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [5]:
s = "Hi there Sam!"

In [7]:
s.split(" ")

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [8]:
planet = "Earth"
diameter = 12742

In [11]:
"The diameter of {} is {} kilometers.".format(planet, diameter)

'The diameter of Earth is 12742 kilometers.'

** Given this nested list, use indexing to grab the word "hello" **

In [12]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [13]:
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [15]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [16]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

A list is mutable, that is can be modified (dynamic nature), while a tuple is immutable & static in nature.

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [17]:
def grabdomain(strmail):
  l = strmail.split("@")
  return l[1]

In [18]:
print(grabdomain("user@domain.com"))

domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [19]:
def findDog(strdog):
    return 'dog' in strdog.lower().split()

In [20]:
findDog('Is Clifford the dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [22]:
def countDog(strct):
    count = 0
    for word in strct.lower().split():
        if word == 'dog':
            count += 1
    return count

In [23]:
countDog('Clifford the dog runs faster than Pitbull the dog')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [24]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [25]:
caught_speeding(84,False)

'Big Ticket'

In [26]:
caught_speeding(72,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [28]:
employee_salaries = [12342,53253,13278,36741,21345,81234]

total_salary_expenditure=0
for sal in employee_salaries:
  total_salary_expenditure+=sal
print("Total Salary Expenditure is : Rs.",total_salary_expenditure)

Total Salary Expenditure is : Rs. 218193

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [32]:
dict1 = {"Empid": 1001, "Empname": "Gowtham", "Basicpay":20000}

In [33]:
dict2 = {"DeptName": "Information Technology", "DeptId": 2001}

In [34]:
for key in dict2.keys():
  dict1[key] = dict2[key]
print("The combined dictionary is : ",dict1)

The combined dictionary is :  {'Empid': 1001, 'Empname': 'Gowtham', 'Basicpay': 20000, 'DeptName': 'Information Technology', 'DeptId': 2001}